@page "/"
@using BlazorNBADashboard.Services
@using BlazorNBADashboard.Models
@inject NbaApiService NbaApi
@rendermode InteractiveServer

<h1>NBA Games</h1>

@if (_loading)
{
    <p>Loading...</p>
}
else if (_games.Any())
{
    @foreach (var game in _games)
    {
        <p>@game.VisitorTeam.Abbreviation @game.VisitorTeamScore - @game.HomeTeamScore @game.HomeTeam.Abbreviation (@game.Status)</p>
    }
}
else
{
    <p>No games found.</p>
}

@code {
    private List<GameData> _games = new();
    private bool _loading = true;

    protected override async Task OnInitializedAsync()
    {
        _games = await NbaApi.GetGamesByDateAsync(DateOnly.FromDateTime(DateTime.Today));
        _loading = false;
    }
}